.overflow {
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  height: 100vh;
  background: #000;
  z-index: 11;
  opacity: 0.7;
}

.root {
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
}

.skins {
  position: absolute;
  left: 0;

  > div {
    display: inline-block;
  }
}

.skin {
  z-index: 10;
}

.emptyList {
  color: #fff;
}

.skinArrow {
  position: absolute;
  width: 118px;
}

.skinArrowWrap {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.skinArrowBottom {
  transform: rotate(180deg);
  bottom: -125px;
}

.skinArrowTop {
  top: -105px;
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 320px;
}
