.overflow {
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  height: 100vh;
  background: #000;
  z-index: 11;
  opacity: 0.7;
}

.root {
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
}

.skins {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.skin {
  z-index: 10;
  position: relative;

  .skinArrow,.skinArrowBottom {
    display: none;
  }
}

.skinCompleted {
  .skinArrow,.skinArrowBottom {
    display: block;
  }
}

.skinArrow {
  position: absolute;
  width: 118px;
}

.skinArrowBottom {
  transform: rotate(180deg);
  bottom: -39px;
}

.skinArrowTop {
  top: -12px;
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
