.wrapper {
  overflow: hidden auto;
  padding-right: 30px;
  &::-webkit-scrollbar-thumb {
    background: #02C880;
    border-radius: 12px;
    width: 6px;
  }

  &::-webkit-scrollbar {
    background: transparent;
    width: 6px;
  }
}