.root {
  .dot {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #27AE60;
    margin-right: 4px;
  }
  .textareaWrapper {
    position:relative;
  }

  .textareaWrapper textarea {
    padding:10px;
    background-color:#f9f9f9;
    border:solid 1px #a0c7ff;
    -moz-border-radius:5px;
    -ie-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;border-radius:5px;
  }
  .tail2 {
    position: absolute;
    bottom: 2px;
    right: -11px;
    width: 0;
    height: 0;
    border-color: #070707 transparent transparent transparent;
    border-width: 11px;
    transform: rotate(-133deg);
    border-style: solid;
  }
  .textareaWrapper {
    .textarea {
      width: 100%;
      height: 129px;
      resize: none;
      padding: 8px;
      background-color: #070707;
      border: 1px solid #000;
      border-radius: 10px;
      outline: 0;
      color: #a3a3a3;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;

      &::-webkit-input-placeholder {
        padding-top: 45px;
        padding-left: 35px;
      }
    }
  }

  .textareaWrapper::before {
    border-top: none;
    height: .9em;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    background: silver;
    border-color: silver;
    margin-left: -.9em;
  }

  .emoji{
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    left: 10px;
  }
  
  .send {
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
  }

  .listWrapper {
    position: relative;
    max-height: 100%;
    .list {
      max-height: 100%;
      width: 100%;
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }
  
  .chatRulesButton {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .chatRules {
    overflow: hidden auto;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}