.overflow {
  overflow: hidden auto;
  padding-right: 12px;

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(139.23deg, #58AD3A 13.34%, #0FD53A 86.08%);
    border-radius: 12px;
    width: 6px;
  }

  &::-webkit-scrollbar {
    background: transparent;
    width: 6px;
  }
}
@media screen and (max-width: 960px) {
  .leaders {
    padding-right: 0;
  }
  .timer {
    height: 100% !important;
  }
  .stats {
    margin-left: 0 !important;
  }
}