@import "../../../styles/variables";

.rightContainer {
  overflow: hidden auto;

  @media screen and (max-width: 959px) {
    overflow: hidden;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

.txt {
  color: #DF8401;
  cursor: pointer;
  &:hover {
    color: #ff9a00;
  }
}

.search {
  position: relative;
}

.searchBox {
  display: flex;
  align-items: center;
}

.priceSort {
  color: $orange;
  width: 160px;
  cursor: pointer;
  user-select: none;

  @media screen and (max-width: 700px) {
    width: auto;
    white-space: nowrap;
  }

  &.sortDesc {
    img {
      transform: rotate(180deg);
    }
  }

  img {
    margin-left: 5px;
  }
}

.icon {
  position: absolute;
  right: 30px;
  bottom: 30%;
  z-index: 1;
}

.resultsContainer {
  overflow: hidden auto;
  &::-webkit-scrollbar {
    width: 0;
  }
}
