@import "../../../styles/variables";

.rightContainer {
  overflow: hidden auto;

  @media screen and (max-width: 959px) {
    overflow: hidden;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

.txt {
  color: #DF8401;
  cursor: pointer;
  &:hover {
    color: #ff9a00;
  }
}

.search {
  position: relative;
  margin-left: 0;
  @media screen and (max-width: 959px) {
    margin-left: 10px;
  }

  @media screen and (max-width: 680px) {
    margin-left: 7px;
  }
}

.searchBox {
  display: flex;
  align-items: center;
  @media screen and (max-width: 959px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: 960px) {
   // padding-right: 20px;
  }

  @media screen and (max-width: 680px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.store_main__block {
  @media screen and (min-width: 960px) {
    padding-right: 16px;
  }
}

.skins-gallery__block {
  @media screen and (min-width: 960px) {
    margin-right: 16px;
  }
}

.grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(8, 1fr);
  @media screen and (max-width: 1800px) {
    grid-template-columns: repeat(7, 1fr);
  }
  @media screen and (max-width: 1600px) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media screen and (max-width: 1505px) {
      grid-template-columns: repeat(5, 1fr);
  }
  @media screen and (max-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: 1140px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 959px) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media screen and (max-width: 840px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media screen and (max-width: 680px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: 535px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 400px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.priceSort {
  color: $orange;
  width: 160px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  margin-left: 0;

  @media screen and (max-width: 700px) {
    width: auto;
    white-space: nowrap;
  }

  @media screen and (max-width: 680px) {
    margin-left: 8px;
  }

  &.sortDesc {
    img {
      transform: rotate(180deg);
    }
  }

  img {
    margin-left: 5px;
  }
}

.icon {
  position: absolute;
  right: 30px;
  bottom: 30%;
  z-index: 1;
}

.resultsContainer {
  overflow: hidden auto;
  &::-webkit-scrollbar {
    width: 0;
  }
}
