.overflow {
  overflow: hidden auto;
  max-height: 100%;
  padding-bottom: 72px;

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(139.23deg, #58AD3A 13.34%, #0FD53A 86.08%);
    border-radius: 12px;
    width: 6px;
  }

  &::-webkit-scrollbar {
    background: transparent;
    width: 6px;

    @media screen and (max-width: 600px){
      width: 0;
    }
  }
}

.skin{
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 3px;
  background-color: #F89D00;
  color: #fff;
  width: 40px;
  height: 12px;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.methodCard {
  background: none !important;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 105px;
  border-radius: 10px;
  border: 1px solid #4A4A4A;
  background-color: #111111;

  &.active {
    border: 0.5px solid #FFFFFF;
  }
  &:hover {
    border: 0.5px solid #FFFFFF;
  }
  &:hover img {
    filter: brightness(0) invert(1);
  }
  @media screen and (max-width: 600px) {
    width: 60px;
    height: 60px;
  }
}
.checkImg {
  &:hover img {
    filter: brightness(0) invert(1);
  }
}
.buttonsWrapper {
  button {
    &:hover {
      color: #fff!important;
      font-weight: 600!important;
    }
  }
}